*.class
glow-mobile-automation/glow-test-framework/bin
glow-mobile-automation/glow-test-mobile-framework/bin
glow-mobile-automation/glow-test-mobile-project/Reports
glow-mobile-automation/glow-test-mobile-project/Screenshots
glow-mobile-automation/glow-test-framework/.settings
.classpath
*.prefs
.project
glow-mobile-automation/glow-test-mobile-project/test-output
MobileTestExecutionReport.pdf
MobileTestExecutionReport_IOS_QA.pdf
MobileTestReport_Android_QA.pdf
MobileTestReport_iOS_QA.pdf
glow-mobile-automation/TravelNEXT/Reports
glow-mobile-automation/TravelNEXT/test-output
Android_QA_TestReport.pdf
iOS_QA_TestReport.pdf
glow-mobile-automation/TravelNEXT/Screenshots
